################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TraversalApiProje/FileContentIndex/85f2b46a-fd76-4ca6-b391-2594fb5310e4.vsidx
